Google Knowledge Graph :- Used for finding products related to a particular search based on a result score.

In [0]:
import pandas as pd
import pandas_datareader.data as web

In [17]:
df=pd.read_csv("stock_data (6).csv")
df

              date        high  ...   adj_close               comp
0       03-03-2010  144.770004  ...  134.194473        Adani Ports
1       04-03-2010  144.330002  ...  134.260193        Adani Ports
2       05-03-2010  147.399994  ...  134.626404        Adani Ports
3       08-03-2010  147.300003  ...  137.743668        Adani Ports
4       09-03-2010  147.199997  ...  134.344665        Adani Ports
...            ...         ...  ...         ...                ...
121901  27-02-2020  254.800003  ...  244.350006  Zee Entertainment
121902  28-02-2020  244.649994  ...  239.300003  Zee Entertainment
121903  02-03-2020  248.949997  ...  233.850006  Zee Entertainment
121904  03-03-2020  255.949997  ...  251.100006  Zee Entertainment
121905  04-03-2020  254.449997  ...  251.750000  Zee Entertainment

[121906 rows x 8 columns]

In [16]:
from __future__ import print_function
import json
import urllib
import requests

companyAndProducts={}

for i in df.comp.unique():
  query = i
  params = {
      'query': query,
      'limit': 20,
      'indent': True,
      'key': 'AIzaSyDGFjTZavf5v8Utsjv17PCkt4p4GJ_Gz3c',
  }
  service_url = 'https://kgsearch.googleapis.com/v1/entities:search'
  url = service_url + '?' + urllib.parse.urlencode(params)
  response = json.loads(urllib.request.urlopen(url).read())
  l=set((element['result']['name'],element['resultScore']) for element in response['itemListElement'])
  companyAndProducts[query]=list(l)
print(companyAndProducts)

{'Adani Ports': [('Adani Kattupalli Port Private Limited', 56.30548095703125)], 'Asian Paints Ltd': [('Asian Paints', 947.5377807617188), ('Asian Paints', 11011.87890625)], 'Axis Bank': [('Axis Bank', 48335.87890625)], 'Bajaj Auto': [('Bajaj Pulsar', 495.5688171386719), ('Bajaj Auto', 16745.181640625), ('Bajaj Auto Holdings Limited', 46.0318489074707)], 'Bajaj Finance': [('Bajaj Finance Limited', 1125.295532226562)], 'Bajaj Finserv': [('Bajaj Finserv Ltd.', 16191.744140625)], 'Bharti Airtel': [('Airtel Sri Lanka', 490.3116760253906), ('Bharti Airtel (Japan) Limited', 31.10014724731445), ('Airtel Networks Limited', 123.7695999145508), ('Bharti Airtel Africa B.V.', 34.46006393432617), ('Bharti Airtel Services Limited', 123.1318130493164), ('Bharti Airtel', 31376.580078125)], 'Bharti Infratel Ltd.': [('Practical Aspects of International Legal &amp; Tax Advisory in CBB', 9.999999747378752e-05), ('Bharti Infratel Ventures Limited', 0.3526267111301422), ('Bharti Airtel', 13.07357501983643), ('Tower Vision', 0.0007061855285428464), ('Bharti Telecom Limited', 0.04903766140341759)], 'BPCL': [('Bharat Petroleum', 1930.146484375), ('Bharat Pumps &amp; Compressors', 111.3947448730469), ('Bridgewater Paper Company', 13.80340671539307), ('BPCL Kochi Refinery', 55.69171905517578)], 'Cipla': [('Cipla', 2097.472412109375), ('Cipla Health Limited', 33.23297882080078), ('Cipla Medpro (Pty) Ltd.', 19.19303894042969), ('Cipla USA Inc.', 25.45515632629395), ('Plagiarism', 80.04771423339844), ('Cipla Quality Chemical Industries Limited', 35.55724334716797)], 'Coal India': [('REC', 0.7618973851203918), ('Shipping Corporation of India', 1.07448673248291), ('Steel Authority of India', 1.616418600082397), ('NLC India Limited', 0.9510810375213623), ('Electronics Corporation of India Limited', 0.9827280640602112), ('Geological Survey of India', 0.896254301071167), ('Coal India', 24), ('Coal', 4.258422374725342), ('Bharat Coking Coal', 0.6233007907867432), ('Coal India', 14393.392578125), ('Advent International', 0.8250178098678589), ('Hinduja Group', 0.6152939796447754), ('Toyota Tsusho', 0.9925476908683777), ('Peabody Energy', 0.533881425857544), ('India Cements', 0.6456843018531799), ('Lignite', 1.190060377120972), ('CESC Limited', 1.304968476295471), ('MMTC Ltd', 0.6214653253555298), ('Kerosene', 2.062528133392334), ('Solar power in India', 0.661565363407135)], 'Dr Reddy Lab': [('Glimepiride', 0.05528692156076431), ("Dr. Reddy's Laboratories", 18.51486015319824)], 'Eicher Motors': [('Eicher Motors', 6439.66259765625)], 'GAIL': [('Gail', 715.1328735351562), ('Sandra Bernhard', 184.9746704101562), ('Gloria Leonard', 123.4355621337891), ('Gail', 127.4950637817383), ('Gaillard', 128.3175506591797), ('Earwig', 81.91371154785156), ('Kym Marsh', 280.9813537597656), ('Gail', 132.3581848144531), ('Gail', 274.4934692382812), ('Rooster', 165.5243225097656), ('Remorse', 100.7196044921875), ('Galway', 884.53466796875), ('Gail Youngs', 294.5873107910156), ("Olivia O'Brien", 263.5662841796875), ('Manx language', 205.8351745605469), ('Blanket flowers', 261.6597900390625), ('Gallium', 80.8392333984375), ('Gaillac', 964.22900390625), ('Gail Kim', 239.7035675048828), ('Brive-la-Gaillarde', 158.7676239013672)], 'Grasim Industries': [('Grasim Industries Ltd', 12), ('Grasim Industries', 3872.692138671875)], 'HCL Technologies': [('HCL America, Inc.', 297.0969543457031), ('HCL Technologies', 13165.61328125), ('HCL Great Britain Limited', 95.28704833984375)], 'HDFC': [('HDFC Bank', 2160.696533203125), ('HDFC securities', 1202.718994140625), ('Harley-Davidson Funding Corp', 14.45133399963379), ('HDFC Realty Limited', 28.08982849121094), ('HDFC Life', 579.9425048828125), ('HDFC Pension Management Company Limited', 59.29001998901367), ('HDFC ERGO General Insurance Company', 424.0828552246094), ('Housing Development Finance Corporation', 2635.837646484375), ('Breaking Ground', 55.15540313720703)], 'HDFC Bank': [('HDFC Bank', 51856.71875)], 'Hero MotoCorp': [('Hero MotoCorp', 18457.486328125), ('Hero Super Splendor', 2572.310302734375)], 'Hindalco Industries': [('Hindalco Industries', 4980.66650390625)], 'Hindustan Unilever': [('The Unusual Billionaires', 25.25497817993164), ('Hindustan Unilever Foundation', 144.8305969238281), ('Hindustan Unilever', 7991.873046875), ('The CEO Factory : Management Lessons from Hindustan Unilever', 402.6225891113281)], 'Britannia Industries': [('Britannia Industries', 6476.2041015625)], 'ICICI Bank': [('ICICI Bank', 57970.37109375), ('ICICI Bank PO', 941.976318359375)], 'IndusInd Bank': [('IndusInd Bank Cyber City metro station', 329.0517883300781), ('IndusInd Bank', 20093.0859375)], 'Infosys': [('Infosys', 4742.3291015625)], 'IOC': [('International Olive Council', 15.32095146179199), ('Irkutsk Oil Company LLC', 623.128173828125), ('Isle of Wight', 12.54346084594727), ('I.O.C.', 7), ('Yokohama', 204.1388702392578), ('Intergovernmental Oceanographic Commission', 7.67412805557251), ('International Olympic Committee', 1806.361450195312), ('Jocasta', 331.9724731445312), ('Joke', 603.0108642578125), ('Inversion of control', 790.1129150390625), ('Iron Ore Company of Canada', 263.3125), ('Joktan', 7.312742233276367)], 'ITC Limited': [('ITC Infotech', 215.9220733642578), ('ITC Limited', 10061.4443359375), ('ITC Hotels', 213.6712799072266)], 'JSW Steel': [('JSW Ispat Steel', 110.7352905273438), ('JSW Steel (USA) Inc.', 75.80244445800781), ('JSW Steel Ltd', 5276.4267578125), ('JSW Group', 768.8417358398438)], 'Kotak Mahindra Bank': [('Kotak Mahindra Bank', 44553.05859375)], 'Larsen & Toubro': [('Larsen &amp; Toubro Infotech GmbH', 62.47099304199219), ('Larsen &amp; Toubro', 21235.5234375), ('Larsen Toubro Medical Equipment &amp; Systems Ltd.', 89.39995574951172), ('LTI', 4938.74267578125), ('L&amp;T Realty', 2125.05908203125), ('L &amp; T Urban Infrastructure Limited', 48.97304916381836), ('L&amp;T Power Limited', 641.9478759765625)], 'Mahindra & Mahindra': [('Mahindra &amp; Mahindra', 344.7514343261719), ('Mahindra &amp; Mahindra Financial Services Limited', 2412.49755859375), ('Mahindra &amp; Mahindra South Africa (Pty.) Ltd.', 656.533203125), ('Club Mahindra Holidays', 533.2592163085938), ('Mahindra Engineering Services Limited', 16.72645950317383)], 'Maruti Suzuki': [('Maruti Suzuki', 14360.037109375), ('Maruti', 211.8604583740234)], 'Nestle India Ltd': [('Nestle India Ltd.', 43)], 'NTPC Limited': [('NSPCL', 68.78864288330078), ('NTPC Limited', 9383.48828125), ('Farakka Super Thermal Power Station', 308.9253845214844), ('NTPC Electric Supply Company Limited', 55.26947784423828), ('Vallur Thermal Power Station', 56.46941375732422), ('NTPC BHEL Power Projects Private Limited', 42.25068664550781), ('NTPC Limited Employees Provident Fund Trust', 12)], 'ONGC': [('Prathana Ongchaisak', 11.87331676483154), ('Shivaji Stadium metro station', 28.47664833068848), ('Chongchon River', 8.338431358337402), ('Oil and Natural Gas Corporation', 314.1210632324219), ('ONGC Petro additions Limited', 104.0016479492188), ('Baroda High School', 12.95527458190918), ('ONGC Videsh Limited', 55.27711868286133), ('ONGC Tripura Power Company', 40.53645324707031), ('ONGC F.C.', 13.58738422393799), ('ONGC Mangalore Petrochemicals Limited', 84.64936828613281)], 'PowerGrid Corporation of India': [('Power Grid Corporation of India', 8712.8984375)], 'Reliance Industries': [('Reliance Industries Limited', 10811.791015625), ('Reliance Industries (Middle East) DMCC', 95.9080810546875)], 'State Bank of India': [('SBI Group', 4826.3046875), ('Central Bank of India', 162.7865600585938), ('SBI SO', 1758.410888671875), ('State Bank of India', 333239.5625), ('SBI PO Exam · 2017', 291.1683349609375), ('State Bank of Hyderabad', 2566.9013671875), ('SBI Clerk Exam', 9234.490234375)], 'Sun Pharmaceutical': [('The Kill Switch: A Tucker Wayne Novel', 16.19700050354004), ('Sun Ten Pharmaceutical Co., Ltd.', 139.7283630371094), ('Sun Pharmaceutical Bangladesh Ltd', 12), ('Sun Pharmaceutical Industries Ltd.', 6151.26171875)], 'Tata Consultancy Services': [('Tata Consultancy Services Japan, Limited', 1080.368530273438), ('Tata Consultancy Services', 28745.85546875), ('Tata Group', 591.1461181640625)], 'Tata Motors': [('Tata Motors', 22276.345703125)], 'Tata Steel': [('Rabobank IJmond Stadion', 550.1702880859375), ('Tata Steel Thailand', 337.9288635253906), ('Tata Steel Chess Tournament', 3727.260498046875), ('Steel Express', 416.4853210449219), ('Tata Steel Europe', 4428.98876953125), ('Tata Steel RFC', 274.6695861816406), ('Tata Steel F.C.', 103.3838806152344), ('Tata Steel Global Minerals Holdings Pte Limited', 36.44277572631836), ('Kolkata 25k', 308.1692810058594), ('Tata Steel Zoological Park', 342.4048156738281), ('British Steel', 322.4659118652344), ('Tata Steel BSL', 1798.253173828125)], 'Tech Mahindra': [('Tech Mahindra Business Services Limited', 459.6414184570312), ('Tech Mahindra', 9390.078125), ('Tech Mahindra (Americas), Inc.', 202.2110443115234), ('Tech Mahindra Foundation', 492.4545593261719)], 'Titan Company': [('General Atomics', 0.7798612117767334), ('Titan Machinery Inc.', 0.8715073466300964), ('Titan', 0.2925182282924652), ('KRONOS WORLDWIDE INC', 0.2225001901388168), ('Titan Motorcycle Company', 52.73831176757812), ('Titan Contracting and Leasing Company, Inc.', 2), ('WWE', 0.7332415580749512), ('Titan Airways', 0.7519522309303284), ('Titan the Robot', 0.4828911423683167), ('Epic Games', 0.3173754811286926), ('Swarovski AG', 0.2414387762546539), ('VSMPO-AVISMA', 0.4202505052089691), ('Cessna 404 Titan', 0.2608243525028229), ('Titan International, Inc.', 0.2619282603263855), ('Titan Publishing Group', 0.2822368443012238), ('Titan Company', 14037.1943359375), ('Titan Cement', 116.1918334960938), ('Titan Media', 1.288043022155762), ('Titan Medical Inc.', 0.4841393530368805), ('LGM-25C Titan II', 0.441699206829071)], 'UltraTech Cement': [('UltraTech Cement', 6379.0478515625)], 'United Phosphorus Limited': [('United Phosphorus Limited, Hong Kong', 32.25), ('United Phosphorus Limited, Belgium SPRL', 25), ('United Phosphorus Cayman Limited', 13), ('United Phosphorus Limited, Colombia', 25), ('United Phosphorus Limited, Japan', 25), ('United Phosphorus Ltd', 1584.290649414062), ('JSC United Phosphorus Limited', 25), ('UPL Europe Ltd', 279.9918518066406), ('United Phosphorus Limited, New Zealand', 125.857063293457), ('Agro Trading Limited.', 18.75), ('United Phosphorus Sole Partner Limited, Greece', 13), ('United Phosphorus Limited, Australia', 109.0702209472656), ('United Phosphorus Vietnam Co., Limited', 13), ('United Phosphorus (Shanghai) Company Limited', 13)], 'Vedanta': [('Vedanta Press', 12.21441745758057), ('Vedanta Desika', 47.12481307983398), ('Vedanta', 1312.156982421875), ('Dvaita Vedanta', 38.9279670715332), ('Vedanta', 7), ('Cairn Oil &amp; Gas vertical of Vedanta Limited', 107.6911849975586), ('Vedanta Limited', 1177.05517578125), ('Advaita Vedanta', 173.2879486083984), ('Neo-Vedanta', 24.24378967285156)], 'Wipro': [('Wipro Enterprises', 80.49330139160156), ('Wipro Infrastructure Engineering', 38.67748260498047), ('Infocrossing', 15.03219127655029), ('Wipro Gallagher Solutions, Inc.', 18.66686630249023), ('Wipro', 3576.585693359375), ('Chennai Marathon', 71.07567596435547), ('Wipro Digital', 51.01056671142578)], 'Shree Cement': [('Shree Digvijay Cement Company Ltd.', 100.4920272827148), ('Shree Cement', 4093.595458984375)], 'Zee Entertainment': [('Zee Classic', 4.239202976226807), ('Zee Learn', 597.6321411132812), ('Zee Entertainment Studios', 34.13846969604492), ('Zee Entertainment Enterprises', 3203.45947265625), ('Dish TV', 2.289892435073853)]}

companyAndProducts is a dictionary containing key as company and a list of pairs of its related products and their corresponding score